<footer class="text-dark text-center text-lg-start">
  <!-- Grid container -->
  <div class="container p-4 mx-auto">
    <!--Grid row-->
    <div class="row ">
      <!--Grid column-->
      <div class="col-lg-4 col-md-4 col-sm-12 mb-4 mb-md-0">
        <h5 class="text-uppercase title-footer">Ici c'est Pa<span class="small-ellipse">ris</span></h5>
        <ul class="list-unstyled mb-0">
          <li>
            <a href="{{ path('faq') }}" style="text-decoration:none;" class="text-dark">FAQ</a>
          </li>
          <li>
            <a href="{{ path('legal_mentions') }}" style="text-decoration:none;" class="text-dark">Mentions légales</a>
          </li>
        </ul>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-4 col-md-4 mb-4 mb-md-0">
        <h5 class="text-uppercase title-footer">Nos Partenaires</h5>

        <ul class="list-unstyled mb-0">
          <li>
            <a href="https://www.paris.fr/" target="_blank" style="text-decoration:none;" class="text-dark">Mairie de
              Paris</a>
          </li>
          <li>
            <a href="https://www.psg.fr/" target="_blank" style="text-decoration:none;"
              class="text-dark">Paris-Saint-Germain</a>
          </li>
          <li>
            <a href="https://la-parisienne.net/" target="_blank" style="text-decoration:none;" class="text-dark">La
              Parisienne</a>
          </li>
          <li>
            <a href="https://www.leparisien.fr/" target="_blank" style="text-decoration:none;" class="text-dark">Le
              Parisien</a>
          </li>
        </ul>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-4 col-md-4 mb-4 mb-md-0">
        <h5 class="text-uppercase title-footer">Nous rencontrer</h5>

        <ul class="list-unstyled mb-0">
          <li>
            <a href="{{path('home')}}" style="text-decoration:none;" class="text-dark">Ici c'est Paris</a>
          </li>
          <li>
            <a href="#!" style="text-decoration:none;" class="text-dark">1 rue de Paris, 75 001</a>
          </li>
        </ul>
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->
  </div>
  <!-- Grid container -->

  <!-- Social icons -->
  <div class="pb-4 text-center p-3 black-logo">
    <a href="https://www.facebook.com/mdbootstrap" target="_blank">
      <i class="fab fa-facebook-f mr-3"></i>
    </a>
    <a href="https://twitter.com/MDBootstrap" target="_blank">
      <i class="fab fa-twitter mr-3"></i>
    </a>
    <a href="https://www.youtube.com/watch?v=7MUISDJ5ZZ4" target="_blank">
      <i class="fab fa-youtube mr-3"></i>
    </a>
    <a href="https://plus.google.com/u/0/b/107863090883699620484" target="_blank">
      <i class="fab fa-google-plus-g mr-3"></i>
    </a>
    <a href="https://pinterest.com/mdbootstrap" target="_blank">
      <i class="fab fa-pinterest mr-3"></i>
    </a>
  </div>
  <!-- Copyright -->
  <div class="text-center p-3 nav-bar">
    <p class="nav-bar-white title-footer">© 2020 Copyright: IcicestParis</p>
  </div>
  <!-- Copyright -->
</footer>