{% extends 'base.html.twig' %}
{% block title %}Page non trouvée{% endblock %}
{% block body %}

<div class="jumbotron jumbotron-fluid">
	<div class="container error-404-height">
		<div class="ellipse-404 float-left"></div>
		<div class = "text-error">
			<h1 class="display-4">Erreur 404</h1>
			<p class="lead error-text">Oups, il semble que cette page n'existe plus, retrouvez nous sur la <a
					href="{{path('home')}}" class="link-404">page d'accueil</a>.</p>
		</div>
	</div>
</div>
{% endblock %}