{% extends 'base.html.twig' %}
{% block metadescription %}Foire Aux Questions du eshop Ici c'est Paris. 
Trouvez des réponses à vos questions sur la livraison, le covid, ou si vous n'êtes satisfaits, sur la manière de 
nous retourner les produits gratuitement.
{% endblock %}
{% block title %}FAQ{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row align-items-center">
        <div class="col-lg-5 col-md-5 col-sm-10 pl-5">
            <h1 class="logo-home ml-lg-5 pl-lg-5"><br>F<span class="small-ellipse">AQ</span></h1>
        </div>
        <div class="col-lg-7 col-md-12 col-sm-10">
            <img src="https://www.soreg-paris.fr/wp-content/uploads/2014/06/Fotolia_18323936_M.jpg" class="img-fluid" alt="photo de Paris">
        </div>
    </div>
</div>
<div class="bg-section p-5">
    <h2 class="text-center pb-5 baseline-home">Foire aux questio<span class="small-ellipse">ns</span></h2>
    <div class="row align-items-center justify-content-center">
        <div class="col-lg-4 col-md-6 col-sm-7 m-2 pr-4">
            <h3>La livraison en temps de Covid ?</h3>
            <p>
                Quisque velit nisi, pretium ut lacinia in, elementum id enim. Vivamus magna justo,
                lacinia eget consectetur sed, convallis at tellus. Vestibulum ante ipsum primis in faucibus orci luctus
                et ultrices posuere cubilia Curae;
                Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula.
            </p>
        </div>
        <div class="col-lg-4 col-sm-12 m-2 ml-p-2">
            <h3>Promotions et remboursements</h3>
            <p>
                Quisque velit nisi, pretium ut lacinia in, elementum id enim. Vivamus magna justo,
                lacinia eget consectetur sed, convallis at tellus. Vestibulum ante ipsum primis in faucibus orci luctus
                et ultrices posuere cubilia Curae;
                Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula.
            </p>
        </div>
    </div>
</div>

{% endblock %}