{% extends 'base.html.twig' %}
{% block metadescription %}Accédez aux mentions légales du site internet d'Ici c'est Paris : www.ici-cest-paris.fr. 
Toutes les données légales de notre site e-commerce spécialisé dans la vente de produits parisiens.{% endblock %}

{% block title %}Mentions légales{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row align-items-center">
        <div class="col-lg-5 col-md-5 col-sm-10 pl-5">
            <h1 class="logo-mention ml-lg-5 pl-lg-5"><br>Mentions légal<span class="small-ellipse">es</span></h1>
        </div>
        <div class="col-lg-7 col-md-12 col-sm-10">
            <img src="https://www.soreg-paris.fr/wp-content/uploads/2014/06/Fotolia_18323936_M.jpg" class="img-fluid" alt="photo tour eiffel">
        </div>
    </div>
</div>
<div class="bg-section p-5">
    <h2 class="text-center pb-5 baseline-home">CGU d'Ici c'est Par<span class="small-ellipse">is</span></h2>
    <div class="row align-items-center justify-content-center">
        <div class="col-lg-4 col-sm-12 p-2">
            <h3>Lorem ipsum</h3>
            <p>
                Quisque velit nisi, pretium ut lacinia in, elementum id enim. Vivamus magna justo,
                lacinia eget consectetur sed, convallis at tellus. Vestibulum ante ipsum primis in faucibus orci luctus
                et ultrices posuere cubilia Curae;
                Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula.
            </p>
        </div>
        <div class="col-lg-4 col-sm-12 m-2 ml-p-2">
            <h3>Lorem ipsum</h3>
            <p>
                Quisque velit nisi, pretium ut lacinia in, elementum id enim. Vivamus magna justo,
                lacinia eget consectetur sed, convallis at tellus. Vestibulum ante ipsum primis in faucibus orci luctus
                et ultrices posuere cubilia Curae;
                Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula.
            </p>
        </div>
    </div>
</div>

{% endblock %}