<div class="col-xl-3 col-lg-3 col-md-4 col-sm-12 mx-auto">
    <div class="card-border">
        <a href="{{ path('style_show', {'style': style.slug}) }}" class="link-for-show-img">
            <img src="{{style.picture}}"
                class="card-img-top" alt="{{style.name}}">
            <div class="text-right color-provider mr-3">
                <button class="btn pl-3 pr-3">
                    <h3 class="border-style-home style-home-name p-3 ">
                        {{style.name}}
                    </h3>
                </button>
            </div>
        </a>
    </div>
</div>